@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Darren Luck</h1>
    <h2>A00964037</h2>
    <p>When I graduate I want to get a job as a software developer, then move on to being a software architect after getting some experience.</p>
</div>
